.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/launch.json
.vscode/tasks.json
.vscode/launch.json
build
.vscode
out
main.exe
*CMakeLists.txt
*.txt
.vscode/settings.json
*.vscode
test1/null
